###############################################################################
# loginctl enable-linger {user}
# systemctl --user enable Customers.service
# systemctl --user start Customers.service
#
# User-Systemd: /home/{user}/.config/systemd/user

[Unit]
Description=Customers (Staging | Production)

[Service]
Type=notify

WorkingDirectory=/home/{user}/srv/Customers
ExecStart=/usr/share/dotnet/dotnet /home/{user}/srv/Customers/Customers.WebApi.dll

SyslogIdentifier=Customers
Restart=always
RestartSec=10
Environment=DOTNET_ROOT=/usr/share/dotnet
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://localhost:1337

[Install]
WantedBy=default.target
